DATABASE_URL=postgresql://postgres:123@localhost:5433/kovryzhko_clinic

#REDIS
REDIS_USER=root
REDIS_PASSWORD=123
REDIS_HOST=localhost
REDIS_PORT=6379

#GRPC
GRPC_HOST=localhost
GRPC_PORT=50051

#JWT
ACCESS_TOKEN_EXPIRES=600
REFRESH_TOKEN_EXPIRES=86400
JWT_SECRET=123456

#TELEGRAM
TELEGRAM_BOT_ID=8796873742
TELEGRAM_BOT_TOKEN=AAFmij-OvaeD2jDMXapiuuwBRj7HxiSme_o
TELEGRAM_BOT_USERNAME=kovryzhkoClinic_bot
TELEGRAM_REDIRECT_ORIGIN=https://kclinic-test.ru/auth/telegram

#RMQ
RMQ_URL=amqp://guest:guest@localhost:5672
RMQ_QUEUE=notifications_queue