# env name example
# .env.development.local
# .env.production.local

DATABASE_URL=postgresql://postgres:123@pg:5433/kovryzhko_clinic_auth

#REDIS
REDIS_USER=root
REDIS_PASSWORD=123
REDIS_HOST=redis
REDIS_PORT=6379

#GRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50051

#GRPC_CLIENTS
USER_GRPC_URL=localhost:50052

#JWT
ACCESS_TOKEN_EXPIRES=600
REFRESH_TOKEN_EXPIRES=86400
JWT_SECRET=123456

#TELEGRAM
TELEGRAM_BOT_ID=8697203781
TELEGRAM_BOT_TOKEN=AAG46qOTS
TELEGRAM_BOT_USERNAME=kovryzhkoClinic_bot
TELEGRAM_REDIRECT_ORIGIN=https://kclinic-test.ru

#RMQ
RMQ_URL=amqp://guest:guest@rabbitmq:5672